@page "/"
@inject IConfiguration _configuration

<h1>AppSettings Values</h1>

<p>
    MySetting Value: @mySetting
</p>

<p>
    SubSetting Value: @subSetting
</p>

@code {
    string mySetting = "";
    string subSetting = "";

    protected override void OnInitialized()
    {
        mySetting = _configuration.GetValue<string>("MySetting");
        subSetting = _configuration.GetValue<string>("MainSetting:SubSetting");
    }
}